{% extends 'main.html' %}
{% load widget_tweaks activity_tags %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card">
            <div class="profile-header">
                <h2 class="mb-0">Hello {{ user.username }}</h2>
            </div>
            <div class="card-body">
                <div class="username">
                    <h4>Username: {{user.username}}</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h3>Rooms you made</h3>
                {% include 'activities/feed_component.html' with rooms=rooms %}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div>
            {% topics_list %}
            {% recent_activity %}
        </div>
    </div>
</div>
{% endblock %}